stages:
- deploy

before_script:
- hostname

kubernetes-deploy:
  stage: deploy
  tags:
  - kube-deployer
  only:
  - dev
  when: manual
  script:
  - kubectl -n example apply -f some-example.yaml
  - sleep 15
  - kubectl -n example get po,svc,ing,ep
